{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "paths": [
          {
            "rootPathSuffix": "./styles",
            "rootPathPrefix": "~/styles"
          },
          {
            "rootPathSuffix": "./src/",
            "rootPathPrefix": "~/"
          }
        ]
      }
    ],
    [
      "styled-components",
      {
        "ssr": true
      }
    ],
    ["macros"],
    ["emotion"]
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "babel-plugin-root-import",
          {
            "paths": [
              {
                "rootPathSuffix": "./styles",
                "rootPathPrefix": "~/styles"
              },
              {
                "rootPathSuffix": "./src/",
                "rootPathPrefix": "~/"
              }
            ]
          }
        ]
      ]
    }
  }
}
