{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "babel-test": true
        }
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-root-import"
    ],
    [
      "styled-components",
      {
        "ssr": true
      }
    ],
    [
      "macros"
    ],
    [
      "emotion"
    ]
  ]
}